version: '3.8'

services:

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "3000:3000"
    depends_on:
      - user-service
      - task-service
      - notification-service
      - product-service
      - rabbitmq

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3001:3001"
    environment:
      - MONGO_URI=mongodb+srv://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}/userdb?retryWrites=true&w=majority
  task-service:
    build: ./task-service
    container_name: task-service
    ports:
      - "3002:3002"
    environment:
      - MONGO_URI=mongodb+srv://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}/taskdb?retryWrites=true&w=majority
   
      
  product-service:
      build: ./product-service
      container_name: product-service
      ports:
        - "3004:3004"
      environment:
        - MONGO_URI=mongodb+srv://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}/productdb?retryWrites=true&w=majority
  
  
  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "3005:3005"
    environment:
      - MONGO_URI=mongodb+srv://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}/paymentdb?retryWrites=true&w=majority
   

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "3003:3003"
    environment:
      - MONGO_URI=mongodb+srv://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}/notifydb?retryWrites=true&w=majority

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_node
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  mongo_data:
