# Docker-compose.yml file is a docker compose file. 
# It is used to run multiple docker containers together

# version: '3.8'
# We can defind of version of docker compose file 
# just image: mongodb/mongodb-community-server for this only if using with version docker

services:
  mongo:
    image: mongodb/mongodb-community-server:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_node
    ports:
      - "5672:5672" # RabbitMQ server port local machine
      - "15672:15672" # Web UI port

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3001:3001"
    depends_on:
      - mongo

  task-service:
    build: ./task-service
    container_name: task-service
    ports:
      - "3002:3002"
    depends_on:
      - mongo
      - rabbitmq
    
  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "3003:3003"
    depends_on:
      - mongo
      - rabbitmq

volumes:
  mongo_data:
